:root {
    --artcaffe-brown: #30261D;
    --artcaffe-light:  #FEFAF1;
    --artcaffe-red: #97272D;
  }

* {
    font-family: 'Oswald', sans-serif, 'DM Serif Display', serif;
    background: var(--artcaffe-light);
  }
  body {
   
  }

  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 34px;
    text-align: center;
  }

  h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
  }

  h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
  }

  h6 {
    font-family: 'DM Serif Display';
    font-weight: bold;
    font-size: 10px;
  }

  p {
    font-family: 'DM Serif Display';
  }


