:root {
  --artcaffe-brown: #30261D;
  --artcaffe-light: #FEFAF1;
  --artcaffe-red: #97272D;
}

* {
  font-family: 'Oswald', sans-serif, 'DM Serif Display', serif;
  
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--artcaffe-light);

}

table {
  border: none;
  outline: none;
  border-collapse: collapse;
  width: 100%;
}

table,
tr,
td {
  border: none;
  border-collapse: collapse;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 34px;
  text-align: center;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}

h6 {
  font-family: 'DM Serif Display';
  font-weight: bold;
  font-size: 10px;
}

p {
  font-family: 'DM Serif Display';
}

.top-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.deliveries {
  font-size: 9px;
  font-family: 'DM Serif Display', serif;
  display: flex;
  flex-direction: column;
  color: var(--artcaffe-light);
  outline: 2px solid #30261D;
  padding: 1px;
  text-align: center;
}

.deliveries span {
  font-family: 'DM Serif Display', serif;
  background: #30261D;
  padding: 1px;
}

.deliveries-text {
  font-size: 7px;
  margin-top: 10px;
  text-align: center;
}

.logo {
  height: 100%;
  margin-top: 20px;
}

.logo-section {
  width: 130%;
  display: flex;
  align-items: center;
  height: 130%;
  margin-left: -15%;
}

.logo-section img {
  width: 100%;
  height: 100%;
}

.top-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-products {
  margin-top: 10px;
  font-size: 9px;
  font-family: 'DM Serif Display', serif;
  display: flex;
  flex-direction: column;
  color: var(--artcaffe-light);
  outline: 2px solid #97272D;
  padding: 1px;
  text-align: center;
}

.new-products span {
  font-family: 'DM Serif Display', serif;
  background: #97272D;
  padding: 1px;
}

.new-products-text {
  display: flex;
  flex-direction: column;
  line-height: 0%;
  font-size: 7px;
  margin-top: 10px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  line-height: normal;
  margin-top: 10px;
  align-items: center;
  gap: 1.2rem;
  color:#30261D;
}

.social-icons i {
  background: none;
}



/* HEADER SECTION COMPLETED */

.divider {
  margin-top: 5px;
  border-bottom: 2px solid #30261D;
  width: 95%;
  left: 0;
  right: 0;
  margin: auto;
}


.coffee-section {
  background: #FEFAF1;
  padding: 2px 2px;
  outline: 2px solid #30261D;
  margin-top: 5px;
}

.coffee-class {
  background: #30261D;
  margin-top: -20px;
  padding: 0px 10px;
}

.coffee-class h2 {
  background: #30261D;
  text-align: center;
  color: #FEFAF1;
  font-size: 18px;
  width: 100%;
}

.coffee-class table {
  background: #30261D;
  border: none;
  border-collapse: collapse;

}


.coffee-table#coffee-table tr
th {
  border: none;
  border-collapse: collapse;
  background: #30261D;
  color: #FEFAF1;
  font-size: 5px;
  font-family: 'DM Serif Display';
  border-style: none;
}


.coffee-table#coffee-table tr
td {
  border: none;
  border-collapse: collapse;
  font-family: serif;
  background: #30261D;
  border-collapse: collapse;
  color: #FEFAF1;

}
.coffee-table#coffee-table .item{
  font-family: 'Oswald';
  font-size: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 500;

}

.item {
  font-family: 'Oswald';
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.booz-coffee {
  background: #30261D;
  margin-top: -10px;
}


.boozy-coffee td
 {
  color: #FEFAF1;
  background: #30261D;
  border: none;
  font-size: 5px;
  border-collapse: collapse;
  font-family: serif;
}
.boozy-coffee .item {
  font-family: 'Oswald';
  font-size: 10px;
  display: flex;
  flex-direction: column;

}

.coffee-description {
  padding: 0px 20px;
  background: #30261D;
  font-size: 4px;
  text-align: center;
  line-height: 0%;
  display: flex;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  justify-content: center;
}

.coffee-description-text {
  padding: 5px;
  background: #E2DAC8;
  line-height: 4px;
  width: 100%;
  height: 50px;
}

.p1 p, .p2 p{
  background: #E2DAC8;
  font-style: italic;
}
.p1 p b, .p2 p b {
  background: #E2DAC8;
  font-style: italic;
}

.light-menu-section  {
  background: #FEFAF1;
  color: #30261D;
}

.light-menu-section  {
  background: #FEFAF1;
  margin-top: -15px;
 }

.light-menus {
  padding: 0 10px;
}

.light-menus h2{
  font-size: 15px;
  text-align: center;
  weight: 100%;
}

.light-table  {
  background: #FEFAF1;
  color: #30261D;
}

.light-table#light-table tr th {
  background: #FEFAF1;
  color: #30261D;
  font-size: 4px;
}

.light-table#light-table tr td {
  background: #FEFAF1;
  color: #30261D;
  font-size: 5px;
}

.light-table#light-table .item {
  font-size: 10px;
}

.dashed {
    border-bottom: 1px dotted #30261D;
    width: 100%;
    
}
.dashed-divider {
  border-bottom: 1px solid #30261D;
  width: 100%;
  
}
.smoothie-description {
  font-size: 5px;
  font-family: serif;
  margin-top: -8px;
  text-align: center;
}

.smoothie-description i {
  background: #FEFAF1;
  color: #30261D;
}

.item-description {
  font-size: 5px;
  font-family: serif;
  font-style: italic;
}
.video-section {
  position: relative;
  background: #30261D;
  width: 100vw !important; 
  overflow-x: hidden;
  padding: 20px 40px;
  left: 0;
  right: 0;
  margin-left: -15px;
  
}

.video-player video{
  width: 100%;
}

.everyday-breakfast-section {
  outline: 2px solid #30261D;
  margin-top: 5px;
  padding: 2px 2px 2px 2px; 
  line-height: 5px;
}
.everyday-breakfast {
  color: hsl(42, 87%, 97%);
  border: 2px solid #30261D;
  height: min-content;
  background: #30261D;
  
}
.everyday-title {
  display: flex;
  border-style: none!important;
  background: #30261D;
  padding: 3px;
  margin: 0;
}

.big-text-1, .big-text-2 {
  border-style: none!important;
}

.big-text-1 h4, .big-text-2 h4{
  border-style: none!important;
  background: #30261D;
  font-family: serif;
  font-weight: 300;
  font-size: 15px;

}

.everyday-p, .everyday-p p, i{
  background: #30261D;
  font-size: 5px;
  margin-top: -10px;
}

.everyday-light-section {
  outline: 2px solid #30261D;
  padding: 2px;
  margin-top: 6px;
}

.everyday-light {
  border: 1px solid #30261D;
  line-height: 80%;
  height: 70px;
}

.everyday-title-light {
  display: flex;
  align-items: center;
  padding: 2px;
}

.big-text-light-1 {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
}
.big-text-light-1 p {
  font-size: 8px;
  margin-top: 12px;
}

.big-text-light-more {
  display: flex;
  font-size: 12px;
  margin-top: -12px;
}
.big-text-light-more h4{
  display: flex;
  font-size: 12px;
}

.big-text-light-2 h4{
  font-family: 'serif';
}
.everyday-light-p {
  font-size: 6px;
  margin-top: -12px;
}

.fresh-baked-section {
  outline: 1px solid #30261D;
  padding: 2px;
}

.fresh-baked {
  border: 1px solid #30261D;
}


.fresh-baked-table#fresh-baked-table  tr, td{
  border: none;  
  border-collapse: collapse;
  background: #FEFAF1;
  color: #30261D;
}
.price {
  font-family: serif;
  font-size: 5px;
  font-weight: bold;
}







